<div class="col-xs-12 col-md-12">


<div class="well">

  <div class="row">
    <div class="col-xs-8">

      <h4><%= @produto.nome %></h4>
    </div>
    <div class="col-xs-4">
      
      <%= form_for @order_item, remote: true do |f| %>
      <h4 class="text-right">Preço unitário: <span style="color: green"><%= number_to_currency @produto.preco , unit: '€' %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantidade, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= hidden_field_tag :produto_id, @produto.id %>
            <%= f.submit "adicionar ao carrinho", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>
</div>